{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>



  <div class="container mt-4">
        <div class="row">
        <h1>{{details}}</h1>

     

<div class='col-lg-3 col-md-6 col-sm-12'>
        <div class='card m-2 ' style='width: 60rem;'>
    
     <img src="{{asset('pictures/' ~ event.picture )}}" class='card-img-top' alt="{{event.name}}">
      <div class='card-body'>
        <h4 class='card-title bg-secondary text-light p-2'>{{event.name}}</h4>
        <h6 class='card-text  text-muted '>{{event.date|date('F j, Y, g:i a')}}</h6>
         <p class='card-text '>About the Event-{{event.description}}</p>
         <p class='card-text '>Capacity-{{event.capacity}}</p>
         <p class='card-text '>Contact Email-{{event.contactemail}}</p>
         <p class='card-text '>Contact Phone-{{event.contactemail}}</p>
         <p class='card-text '>Address-{{event.address}}</p>
         <p class='card-text '>Our Website-{{event.url}}</p>
         <p class='card-text '>Type-{{event.type}}</p>
         
        <a href="/event" class="btn btn-info">Back</a>     
       </div>
        </div>
        </div>
        </div>
{% endblock %}