{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}
<style>
body{
    margin: 0 auto;
    width:100%; 
    background: url('../pictures/background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
}
.card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
 
  cursor: pointer;
   -webkit-transition: all 0.5s ease-in-out;
}

.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
   -webkit-transform: scale(1.1);
}

.btn-default{
    height: 40px;
    width: 80px;
    background: lightseagreen;
    margin: 20px;
    float: left;
    box-shadow: 0 0 1px #ccc;
    -webkit-transition: all 0.5s ease-in-out;
    border: 0px;
    color: #fff;
}
.btn-default:hover{
    -webkit-transform: scale(1.1);
    background: #31708f;
}

  </style>


  <div class="container mt-4">
        <div class="row">
        <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
   Filter
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="/filter/Sport">Sport</a></li>
    <li><a class="dropdown-item" href="/filter/Movie">Movie</a></li>
    <li><a class="dropdown-item" href="/filter/Music">Music</a></li>
  </ul>
</div>
       
         </div>
        </div>


  <div class="container mt-4">
        <div class="row">
        <h1 class="text-light p-3">{{eventTitle}}</h1>

     {% for event in events %}  

    
<div class='col-lg-6 col-md-6 col-sm-12'>
        <div class='card m-2 ' style='width: 18rem;'>
    
      <img src="{{asset('pictures/' ~ event.picture )}}" class='card-img-top' alt="{{event.name}}">
      <div class='card-body'>
        <h4 class='card-title bg-secondary text-light p-2'>{{event.name}}</h4>
        <h6 class='card-title  text-muted '>{{event.date|date('F j, Y, g:i a')}}</h6>
        
        <a href="/details/{{event.id}}" class="btn btn-default">View</a>     
        <a href="/edit/{{event.id}}" class="btn btn-default">Edit</a>
        <a href="/delete/{{event.id}}" class="btn btn-default">Delete</a>       
        </div>
    </div>
</div>

      {% endfor %}
      
       </div>
    </div>
{% endblock %}